<div class="frontmatter">

  <!-- Title Page -->
  <h1 class="titlepage" style="margin-top:3em; font-size:2.4em; text-align:center;">$title$</h1>
  <h2 style="text-align:center; font-weight:normal;">$subtitle$</h2>

  <div style="text-align:center; margin:2em 0;">
    <img src="$logo$" alt="Cover illustration" style="max-width:350px;">
  </div>

  <hr style="margin:3em 0;">


  <!-- Metadata Page -->
  <div style="text-align:left; margin-top:5em;">

    <h2>$title$</h2>
    <i>$subtitle$</i>

    <table style="margin-top:2em; width:50%; border-collapse:collapse;">
      <tbody>
        <tr><td style="font-weight:bold;">Author</td><td>$author$</td></tr>
        <tr><td style="font-weight:bold;">Version</td><td>$version$</td></tr>
        <tr><td style="font-weight:bold;">Date</td><td>$date$</td></tr>
        <tr><td style="font-weight:bold;">ISBN:</td><td>$isbn-pdf$</td></tr>
        <tr><td style="font-weight:bold;">DOI:</td><td>$doi$</td></tr>
        <tr><td style="font-weight:bold;">Maturity</td><td>$state$</td></tr>
      </tbody>
    </table>

    <p>Copyright $copyright$</p>

    <h3>Licensing</h3>

    <h4>Open Source Edition (PDF and HTML)</h4>
    <p>Licensed under the $license-os-text$
      <ul>
        <li>License: <a href="$license-os-url$">$license-os$</a></li>
      </ul>
    </p>

    <!-- <h4>Commercial Edition (ebook and print)</h4>
    <p>$license-com$ $license-com-text$</p> -->

  </div>

  <hr style="margin:4em 0;">

  <!-- Image attribution + perception note (PDF analog) -->
  <!-- <div style="width:100%; text-align:left; display:block; margin:1em 0;">
    <h2>Cover Illustration</Code></h2>
  </div>
  <div style="max-width:40em; margin:auto;">
    Cover illustration by <a href="$img-attribution-url$">$img-attribution$</a>.
  </div> -->

</div>

<!-- <hr style="margin:4em 0;">

<div style="max-width:40em; margin:auto;">
  <div style="width:100%; text-align:center; display:block; margin:1em 0; font-style: italic;"> 
    This book is dedicated to ****. 
  </div>
</div>

<hr style="margin:4em 0;"> -->

<script>
window.MathJax = {
  tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] },
  svg: { fontCache: 'global' }
};
</script>
<script src="lib/mathjax/tex-mml-chtml.js"></script>
